$brightColor: white;
$darkColor: black;
$ashColor: gray;
$bloodColor: red;

.backGround {
  background: url(../images/bg.png) no-repeat;
  transform: scale(1.23);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  z-index: 1;
}

.roundAlertion {
  perspective: 1000px;
  width: 30vw;
  min-height: 15vh;
  max-height: 300px;
  background-color: $darkColor;
  background-size: cover;
  color: $brightColor;
  font-size: 2.1vw;
  transform: rotateX(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6vh;
  left: 35%;
  border: 3px solid $brightColor;
  border-radius: 30px;
  backface-visibility: hidden;
  transform-origin: 50% 50% 70px;
  animation: alertRotation 3s ease infinite;
}

@keyframes alertRotation {
  0% {
    transform: rotateX(180deg);
  }

  25% {
    transform: rotateX(0deg);
  }

  75% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

.cardsWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  perspective: 10rem;
}

.userName {
  color: $brightColor;
  font-size: 3rem;
  position: absolute;
  text-align: center;
  pointer-events: none;
}

.userName[namePlateHovered="true"] {
  color: $bloodColor;
  transition: all 0.5s;
}

.userName1 {
  transform: translate3d(-48.5rem, 2.5rem, 0) skew(0, -8deg) rotate(1deg)
    scale(0.65);
}

.userName2 {
  transform: translate3d(-28.4rem, 0, 0) skew(0, -5deg) rotate(1deg) scale(0.5);
}

.userName3 {
  transform: translate3d(25.6rem, 0.4rem, 0) skew(0, 9deg) rotate(-5deg)
    scale(0.47);
}

.userName4 {
  transform: translate3d(47.5rem, 2.3rem, 0) skew(0deg, 7deg) rotate(-2deg)
    scale(0.7);
}

@mixin cardsAnimation($trX, $trY, $trZ, $scale) {
  animation: cardsAnimation 1.5s linear;
  @keyframes cardsAnimation {
    0% {
      transform: translate3d(0, 0, 0) skewX(0) scale(2);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    80% {
      transform: translate3d(0, 0, 0) skewX(0) scale(2);
    }
    100% {
      transform: translate3d($trX, $trY, $trZ) skewX(-10deg), scale($scale);
    }
  }
}

.cardHovered {
  -webkit-box-shadow: 0px 0px 19px 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 19px 3px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 19px 3px rgba(255, 255, 255, 1);
}

.playersCardCommon {
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    @extend .cardHovered;
  }
}

.card {
  background: url(../images/card.png) no-repeat;
  border-radius: 0.5rem;
  background-size: 100% 100%;
  height: 160px;
  width: 90px;
  position: absolute;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $brightColor;
  z-index: 1;
  overflow: hidden;
}

.card[cardHovered="true"] {
  -webkit-box-shadow: 0px 0px 40px 3px $bloodColor;
  -moz-box-shadow: 0px 0px 40px 3px$bloodColor;
  box-shadow: 0px 0px 40px 3px $bloodColor;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.card[cardPlayed="true"] {
  cursor: default;
  pointer-events: none;
    -webkit-box-shadow: 0px 0px 10px 3px $bloodColor;
    -moz-box-shadow: 0px 0px 10px 3px$bloodColor;
    box-shadow: 0px 0px 10px 3px $bloodColor;
}

.card[cardMarketBySumm="true"] {
  transition: all 2s;
  animation: cardMarketBySummAnim 1s ease;
  -webkit-box-shadow: 0px 0px 4px 3px $bloodColor;
  -moz-box-shadow: 0px 0px 4px 3px$bloodColor;
  box-shadow: 0px 0px 4px 3px $bloodColor;
}

@keyframes cardMarketBySummAnim {
  0% {
    -webkit-box-shadow: 0px 0px 40px 3px $bloodColor;
    -moz-box-shadow: 0px 0px 40px 3px$bloodColor;
    box-shadow: 0px 0px 40px 3px $bloodColor;
    margin-bottom: 30px;
  }

  100% {
    -webkit-box-shadow: 0px 0px 4px 3px $bloodColor;
    -moz-box-shadow: 0px 0px 4px 3px$bloodColor;
    box-shadow: 0px 0px 4px 3px $bloodColor;
    margin-bottom: 0;
  }
}

.card1 {
  @include cardsAnimation(-53rem, 9.3rem, 0, 0.66);
  @extend .playersCardCommon;
  transform: translate3d(-53rem, 9.3rem, 0) skew(29deg, -13deg) scale(0.85);
  &:hover {
    transform: translate3d(-53rem, 9.3rem, 0) skew(0, 0) scale(1.5);
  }
}

.card2 {
  @include cardsAnimation(-40.5rem, 6.8rem, 0, 0.75);
  @extend .playersCardCommon;
  transform: translate3d(-40.5rem, 6.8rem, 0) skew(29deg, -11deg) rotate(-2deg)
    scale(0.73);
  &:hover {
    transform: translate3d(-40.5rem, 6.8rem, 0) skew(0, 0) scale(1.5);
  }
}

.card3 {
  @include cardsAnimation(-32.5rem, 5rem, 0, 0.64);
  transform: translate3d(-32.5rem, 5rem, 0) skew(23deg, -8deg) scale(0.64);
}

.card4 {
  @include cardsAnimation(-22rem, 3.7rem, 0, 0.64);
  transform: translate3d(-22rem, 3.7rem, 0) skew(23deg, -8deg) rotate(-2deg)
    scale(0.57);
}

.card5 {
  @include cardsAnimation(19.5rem, 3.8rem, 0, 0.64);
  transform: translate3d(19.5rem, 3.8rem, 0) skew(-24deg, 8deg) rotate(2deg)
    scale(0.57);
}

.card6 {
  @include cardsAnimation(29rem, 5rem, 0, 0.64);
  transform: translate3d(29rem, 5rem, 0) skew(-24deg, 8deg) rotate(2deg)
    scale(0.64);
}

.card7 {
  @include cardsAnimation(38.6rem, 6.6rem, 0, 0.64);
  transform: translate3d(38.6rem, 6.6rem, 0) skew(-27deg, 10deg) scale(0.7);
}

.card8 {
  @include cardsAnimation(52.5rem, 8.8rem, 0, 0.64);
  transform: translate3d(52.5rem, 8.8rem, 0) skew(-27deg, 10deg) scale(0.82);
}

%beforeAfterCloseBTN {
  content: "";
  height: 4vw;
  width: 0.3vw;
  top: 0.1rem;
  background-color: $brightColor;
  display: inline-block;
  position: relative;
}

.inputMainWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(59, 59, 59, 0.699);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .inputAndBTNSWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $ashColor;
    border-radius: 1vw;
    position: relative;

    .inputCloseBTN {
      width: 4vw;
      height: 4vw;
      overflow: hidden;
      border: 0.4vw solid $ashColor;
      background-color: $ashColor;
      border-radius: 50%;
      position: absolute;
      top: -100%;
      right: -20%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &::before {
        @extend %beforeAfterCloseBTN;
        transform: rotate(45deg);
      }

      &::after {
        @extend %beforeAfterCloseBTN;
        transform: rotate(-45deg);
      }
    }

    .inputSumm {
      font-size: 8vh;
      width: 30vw;
      margin: 1vw;
      background-color: $ashColor;
      border: 0.4vw solid $brightColor;
      border-radius: 1vw;
      min-height: 9vh;
      max-height: 100px;
      padding-left: 1vw;
      color: $brightColor;
      cursor: pointer;

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .inputSubmitBTN {
      min-height: 9vh;
      max-height: 100px;
      min-width: 9vh;
      max-width: 100px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 0.4vw solid $brightColor;
      border-radius: 0 10px 10px 0;
      position: absolute;
      right: 1.5vw;
      margin: 1vw;
      cursor: pointer;

      .arrow {
        position: relative;
        width: 5vw;
        height: 0.6vw;
        background-color: $brightColor;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        left: 0.2vw;
        display: block;
      }
      .arrow::after {
        content: "";
        position: absolute;
        width: 2vw;
        height: 0.5vw;
        top: -0.55vw;
        right: -0.5vw;
        background-color: $brightColor;
        transform: rotate(46deg);
      }
      .arrow::before {
        content: "";
        position: absolute;
        width: 2vw;
        height: 0.5vw;
        top: 0.55vw;
        right: -0.5vw;
        background-color: $brightColor;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: rotate(-46deg);
      }

      &:hover .arrow {
        animation: arrowAnim 1s ease infinite;
      }
      @keyframes arrowAnim {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(0.5vw);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}
