$brightColor: white;

%text {
  font-size: 72px;
  line-height: 84px;
  color: #000000;
  text-align: center;
}

%commonStyles {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: $brightColor;
  cursor: pointer;
}

.wrapper {
  width: 605px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nameInput {
  @extend %commonStyles;
  @extend %text;
  width: 480px;
  height: 75px;
}

.inputErrorRed {
  @extend %commonStyles;
  @extend %text;
  color: red;
  width: 480px;
  height: 75px;
}

.inputErrorAlert {
  @extend %commonStyles;
  @extend %text;

  font-size: 30px;
  line-height: 40px;
  width: 240px;
  min-height: 40px;
  color: rgb(0, 0, 0);
  position: absolute;
  right: -33%;
  top: 0;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    left: -30px;
    border: 20px solid transparent;
    border-right: 20px solid $brightColor;
  }
}

.startGameBTN {
  width: 605px;
  height: 111px;
  transition: all 0.45s;

  @extend %commonStyles;
  @extend %text;

  &:hover {
    box-shadow: 0 0 20px $brightColor;
  }
}
