$grayColor: #545454;
$brightColor: white;
$darkColor: black;
$redColor: red;

%commonStyles {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: $brightColor;
  cursor: pointer;
}


.wpapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loader {
    width: 10rem;
    height: 10rem;
    background-color: $brightColor;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &::before {
      content: "";
      width: 6rem;
      height: 6rem;
      background-color: $darkColor;
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: $redColor;
      border-radius: 50%;
      top: 0;
      position: absolute;
    }

    animation: loadSpin 1.5s infinite ease-in-out;
  }

  @keyframes loadSpin {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotate(360deg);
    }

    0% {
      transform: rotate(0);
    }
  }

  .loadText {
    @extend %commonStyles;
    cursor: default;
    background-color: $grayColor;
    font-size: 6rem;
    color: $brightColor;
    padding: 0 1.5rem;
    text-align: center;
    margin: 5rem 0 1rem 0;
    max-width: max-content;
  }

  .copyURLblock {
    display: flex;

    .URLforOtherPlayers {
      @extend %commonStyles;
      cursor: default;
      width: 35vw;
      background-color: $grayColor;
      color: $brightColor;
      overflow: hidden;
      font-size: 3rem;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
    }
    .copyURL_btn {
      @extend %commonStyles;
      background-color: $brightColor;
      color: $grayColor;
      font-size: 4.5rem;
      padding: 0 15px;
      box-shadow: 0 0 2rem $brightColor;
      border-radius: 1rem;
      transition: all 0.5s;

      &:hover {
        box-shadow: 0 0 3rem $grayColor;
      }
    }
  }
}



/* iPhones 6/7/8 и меньше ----------- */
@media only screen and  (max-width: 667px) and (orientation: landscape){
.wpapper {

    .loadText {
   
    font-size: 5rem;

  }
  .copyURLblock {
    .URLforOtherPlayers {
  display: none;
    }
  }
}
}
